.my-blog {
  width:450px;
  height:450px;
  border: 2px solid blue;
  text-align: center;
  line-height: 450px;
  background-color: yellow;
  font-family:cursive;
  border-radius: 25%;
  color:blue;
}
body {
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #e9eef5;
  padding: 1em;
  text-align: center;
}

header.dark, footer.dark {
  background-color: #343a40;
  color: #fff;
}

main {
  padding: 1em;
}

.dark {
  background-color: #343a40;
  color: #fff;
}


.light {
  background-color: #94c8fd;
  color: #0c0b0b;
}

