.my-blog {
  width:450px;
  height:450px;
  border: 2px solid blue;
  text-align: center;
  line-height: 450px;
  background-color: yellow;
  font-family:cursive;
  border-radius: 25%;
  color:blue;
}
body {
  font-family: Arial, sans-serif;
}

header, footer {
  padding: 1em;
  text-align: center;
  border-top:4px solid black;
  border-bottom: 4px solid black;
}

footer, a {
  color:green;
  text-decoration: none;
  font-size: 20px;
}

header.dark, footer.dark {
  background-color: #343a40;
  color: #fff;
}

main {
  padding: 1em;
}

.dark {
  background-color: #343a40;
  color: #fff;
}


.light {
  background-color: #94c8fd;
  color: #0c0b0b;
}

